@import url("./tailwind/tailwind.output.scss");

@media screen and (min-width: 768px) {
  .user-list {
    width: 60%;
    height: 100px;
    font-size: 25px;
  }
  .user-details {
    width: 85%;
    height: 130px;
    font-size: 25px;
    margin-top: 50px;
  }
  .name {
    padding-top: 30px;
  }
  .name1 {
    padding-top: 25px;
  }
  .post {
    padding-top: 30px;
  }
  .post1 {
    font-size: 18px;
    display: flex ;
  }
  .user{
    font-size: 80px;
    padding-top:50px;
  }
  .c1{
    padding-top: 100px;
  }
}
